<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="SystemConsoleMonitor" type="SystemConsoleMonitor.Configuration.SystemConsoleMonitorConfigurationSection,SystemConsoleMonitor" allowDefinition="Everywhere" requirePermission="false" />
    </configSections>   
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <SystemConsoleMonitor>
    <!-- compact: view the machine monitors in compact mode -->
    <DefaultMachines compact="false">
      <!--
        Setup default startup machines 
      
        Add default machines sample:
        <DefaultMachine name="WORKSTATION01" />
        <DefaultMachine name="SERVER01" color="DarkMagenta" />
        <DefaultMachine name="WORKSTATION02" color="DarkMagenta"/>
      
        Avalible colors:
	      Black, Blue, Cyan, DarkBlue, DarkCyan, DarkGray, DarkGreen, DarkMagenta, DarkRed, DarkYellow , Gray, Green, Magenta, Red, White, Yellow	
        (Colors might look different in PowerShell)
      -->
    </DefaultMachines>
    <PerformanceCounters>
      <!--
        Setup performance counters 
        Name: Your name on the performance counter        
        Category, Counter, Instance: The performance counter        
        Compactview: View performance counter in compact view mode      
        Avalible styles: Text, TimeSpan, Bar, BarInverse   
      -->
      <PerformanceCounter name="Up Time" category="System" counter="System Up Time" instance="" style="TimeSpan"/>
      <PerformanceCounter name="Processes" category="System" counter="Processes" instance="" style="Text"/>
      <PerformanceCounter name="Threads" category="System" counter="Threads" instance="" style="Text"/>
      <PerformanceCounter name="Memory" category="Memory" counter="% Committed Bytes In Use" instance="" style="Bar" compactview="true"/>
      <PerformanceCounter name="Cpu" category="Processor" counter="% Processor Time" instance="_Total" style="Bar" compactview="true"/>
      <PerformanceCounter name="Disk usage" category="LogicalDisk" counter="% Free Space" instance="_Total" style="BarInverse"/>
    </PerformanceCounters>
  </SystemConsoleMonitor>
</configuration>

